html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: #f8f8f8;
  margin: 16px;
  border-radius: 16px;
  width: 624px;
}

.person {
}

.person__content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 22px;
}

.person__info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.person__image {
  margin: 32px;
}

.person__link{
    color: #E20613;
    font-style: normal;
    
}

.person__position {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  margin: 0;
  margin-bottom: 24px;
}

.special{
    color: #ED6D05;
    font-weight: normal;
}